<br>
<div class="jumbotron">
   <h1>Blocipedia</h1>
   <h4>Create and share Markdown Wikis</h4>
</div>

 <div class="row">
   <div class="col-md-4">
     <h4>You can...</h4>
     <p>Become a certified Superhero!</p>
   </div>
   <div class="col-md-4">
     <h4>And together we can...</h4>
     <p>Help end bullying!</p>
   </div>
</div>