html {
	background-color: #B22222;
}

div.container {
	background-color: #DCDCDC;
}

div.jumbotron {
	font-family: "Helvetica";
	font-style: italic;
}

 @import "bootstrap-sprockets";
 @import "bootstrap";
